.Information {
  text-align: center;

  .Information-header {
    background-color:  #282c34;
    min-width: 50vh;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    .Information-header-input{
      width: 20rem;
      margin:2%;
      
    }
  }


}





