.Information {
  text-align: center;

  .Information-header {
    background-color:  #282c34;
     min-width: 20rem;
     min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
     color: white;
    border: #282c34;


    .Information-header-form{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color:  #ffffff;
      height: 9em;
      width: 50%;
      border-radius: 5%;

      .Information-header-input{
        width: 80%;
        height: 2rem;
        margin:2%;
        border: none;
        background-color: rgb(207, 216, 223);
        
      }
 
    }
    .Information-header-p{
      width: 50%;
      font-size:1rem;
      text-align: center;
      color:aquamarine
    }
    }





}





